<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body class="gradient">

        <header>
            <div class="">
                Project
            </div>
            <div class="">
                <a href="https://github.com/Dev-Tarek/evaluate-news-nlp">
                    Github
                </a>
            </div>
        </header>

        <main>

            <section>
                <h1>
                    Use our modern app to instantly analyze any website with one click
                </h1>    
            </section>

            <section class="form-section">
                
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="Enter URL to analyze">
                    <input type="submit" name="" class="button" value="Analyze" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>

                <div id="results"></div>

                <div id="loading-modal"></div>
                <svg id="loading-spinner">
                    <defs>
                        <filter id="blur">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="1" />
                        </filter>
                    </defs>
                    
                    <circle class="loading-track" cx="50%" cy="50%" r="50" />  
                    <circle class="loading" cx="50%" cy="50%" r="50" />
                </svg>

            </section>

        </main>

        <footer>
            <p>Created by <a href="https://www.linkedin.com/in/abdelrahmanabdelhamid/">devtarek</a>. Powered by <a href="https://www.meaningcloud.com/">MeaningCloud</a></p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
